<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <jmxConfigurator/>
    <!--定义日志文件的存储地址 勿在 LogBack的配置中使用相对路径 -->
    <property name="LOG_PATH" value="/opt/logs"/>
    <!--value="${ci.environment.slug}-${spring.application.name}-${spring.application.instance}"-->
    <property name="BASE_NAME"  value="info" scope="context"/>

    <appender name="ERROR-FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${BASE_NAME}.error</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${BASE_NAME}.%d{yyyy-MM-dd}.error</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${BASE_NAME}.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">INFO</filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${BASE_NAME}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--myibatis log configure
    <logger name="com.apache.ibatis" level="TRACE"/>
    <logger name="java.sql.Connection" level="DEBUG"/>
    <logger name="java.sql.Statement" level="DEBUG"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>-->

<!-- 
    <springProfile name="debug">
        <logger name="com.tto.fg" level="DEBUG"/>
    </springProfile> -->
	<logger name="com.tradeo.exp" level="info"/>
    <logger name="com.tradeo.exp.dao" level="debug"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ERROR-FILE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>